.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.blogs__header {
  margin-bottom: 64px;
}

.blogs__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 32px;
  max-width: 1300px;
  margin-bottom: 64px;
}
