.our-laurels {
  box-sizing: border-box;
  width: 100%;
  padding: 128px 310px 226px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our-laurels__text {
  min-width: 634px;
  padding: 120px 0;
}

.our-laurels__image {
  width: 555px;
  height: 691px;
}

.our-laurels__container {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 64px;
}
