/* изначальные стили прописаны для размера экрана 1920 */
:root {
  --main-color: #040404;
  --main-text-color: #ffffff;
  --heading-color: #dcca87;
  --text-color: #aaaaaa;
  --button-color: #0c0b08;
  --border-color: #f5efdb;
}

body {
  background-color: var(--main-color);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* шрифты google */
.main-font {
  font-family: "Cormorant Upright", serif;
}

.additional-font {
  font-family: "Open Sans", sans-serif;
}

/* размеры для текстовых элементов */
.text_size_xs {
  font-size: 16px;
  line-height: 28px;
}

.text_size_s {
  font-size: 18px;
  line-height: 32px;
}

.text_size_m {
  font-size: 23px;
  line-height: 30px;
}

.text_size_sm {
  font-size: 32px;
  line-height: 42px;
}

.text_size_l {
  font-size: 44px;
  line-height: 57px;
}

.text_size_xl {
  font-size: 64px;
  line-height: 83px;
}

.text_size_xxl {
  font-size: 90px;
  line-height: 117px;
}

/* стили для разного текста */
.big-header {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.large-header {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.medium-header {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.small-header {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.description {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--text-color);
  margin-bottom: 32px;
}

.no-bottom {
  margin-bottom: 0;
}

.medium-description {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.small-description {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--border-color);
}

.italic-description {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--text-color);
}

.italic-description::before {
  content: url(/images/quotes.svg);
  width: 47px;
  height: 40px;
}

/* подчеркнутые снизу элементы */

.blogs-item-header, .see-menu__item:hover, .nav-item:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

/* индивидуальные стили элементов */
.header {
  padding: 0 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
}

.logo {
  width: 199px;
  height: 57px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.big-logo {
  width: 289px;
  height: 83px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-back {
  position: absolute;
  width: 391px;
  height: 415px;
  left: 40%;
  bottom: 280px;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.small-logo {
  width: 142px;
  height: 142px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.small-logo_reservation {
  top: -225px;
  right: -125px;
}

.small-logo_see-menu {
  z-index: 10;
  left: 145px;
  top: -32px;
}

.small-logo_about-chef {
  right: 287px;
  bottom: -60px;
}

.small-logo_blogs {
  right: -218px;
  bottom: -39px;
}

.small-logo_newsletter {
  top: -204px;
  left: -172px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.nav {
  font-weight: 400;
  position: absolute;
  top: 400px;
  left: 120px;
  width: 161px;
  transform: rotate(-90deg);
  z-index: 10;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.nav-item {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview {
  max-width: 1920px;
  box-sizing: border-box;
  padding: 95px 310px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 180px;
  position: relative;
}

.preview-header {
  margin-bottom: 32px;
}

.rigth-column {
  min-width: 455px;
}

.main-pic {
  width: 667px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scroll-images {
  position: absolute;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scroll-images_to_menu {
  right: 120px;
  bottom: -64px;
  width: 61px;
  height: 113px;
}

.scroll-images_to_top {
  right: -158px;
  bottom: -49px;
}

.small-img {
  width: 40px;
  margin: 8px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.small-img_rigth {
  transform: rotate(-180deg);
}

.button {
  border: none;
  background-color: var(--heading-color);
  width: 157px;
  height: 44px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--main-text-color);
  color: var(--main-color);
}

.reservations {
  margin: 205px 0 184px;
  padding: 48px 32px;
  width: 72%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid rgba(220, 202, 135, 0.2);
}

.reservation-header {
  margin-bottom: 64px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_row {
  flex-direction: row;
}

.booking {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 64px;
}

.booking-elements {
  width: 412px;
  height: 60px;
  background-color: var(--button-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  appearance: none;
  padding: 16px;
}

.about {
  width: 100%;
  padding: 339px 0 328px;
  background-image: url(/images/BG.png);
  position: relative;
}

.about-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 254px;
}

.column {
  display: flex;
  flex-direction: column;
}

.rigth-column {
  align-items: end;
  z-index: 1;
}

.left-column {
  align-items: start;
  position: relative;
}

.left-column::before {
  content: url(/images/knife.svg);
  position: absolute;
  left: -180px;
  top: -180px;
}

.about-description {
  max-width: 523px;
  padding-top: 24px;
}

.see-menu {
  width: 100%;
  height: 920px;
  background-image: url(/images/glass.png);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--button-color);
  opacity: 0.4;
  z-index: 0;
}

.see-menu__list {
  width: 525px;
  height: 100%;
  box-sizing: border-box;
  padding: 261px 0 262px 145px;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.see-menu__item {
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration-line 1s ease-in;
  z-index: 10;
}

.special {
  margin-top: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special-header {
  margin-bottom: 64px;
}

.specials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  height: 659px;
  max-width: 1300px;
  column-gap: 32px;
  margin-bottom: 65px;
}

.specials-description {
  width: 412px;
}

.specials-description-header {
  margin-bottom: 48px;
}

.position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.position-header {
  width: 192px;
  text-align: start;
}

.position-line {
  background-color: var(--main-text-color);
  height: 1px;
  width: 119px;
}

.position-description {
  margin-bottom: 41.5px;
}

.about-chef {
  margin: 152px 0;
  padding: 128px 310px;
  box-sizing: border-box;
  width: 100%;
  background-image: url(/images/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 96px;
  position: relative;
}

.chef-image {
  width: 586px;
}

.chef-name {
  font-weight: 400;
}

.about-chef-container {
  display: flex;
  flex-direction: column;
}

.about-chef-description {
  max-width: 570px;
  margin: 64px 0;
}

.chef-description {
  margin: 8px 0 64px;
}

.chef-sing {
  width: 235px;
}

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 152px;
}

.customers-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  margin: 0 310px;
  column-gap: 32px;
  row-gap: 70px;
}

.customers-item {
  width: 634px;
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.customers-photo {
  width: 190px;
  height: 190px;
}

.customers-item-rigth-column {
  position: relative;
  display: flex;
  flex-direction: column;
}

.customers-photo-description {
  margin-top: 32px;
}

.customers-photo-description::before {
  position: absolute;
  left: -63px;
  bottom: -4px;
}

.customers-photo-name {
  margin: 16px 0 4px;
}

.our-laurels {
  box-sizing: border-box;
  width: 100%;
  padding: 128px 310px 226px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our-laurels-description {
  min-width: 634px;
  padding: 120px 0;
}

.our-laurels-main-img {
  width: 555px;
  height: 691px;
}

.awards {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 64px;
}

.awards-item {
  width: 301px;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.awards-item-image {
  width: 79px;
  height: 79px;
}

.awards-description {
  margin-top: 8px;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.blogs-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 32px;
  max-width: 1300px;
  margin-bottom: 64px;
}

.blogs-item {
  max-width: 412px;
}

.blogs-item-img {
  width: 412px;
  height: 430px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.blogs-item-sing {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 32px;
}

.blogs-item-header {
  margin-bottom: 32px;
}

.blogs-item-link {
  text-transform: none;
  cursor: pointer;
}

.blogs-item-link:hover {
  color: var(--main-color);
}

.newsletter {
  margin: 241px 0 128px;
  padding: 64px 0;
  width: 72%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid rgba(220, 202, 135, 0.2);
}

.newsletter-span {
  font-weight: 400;
  margin: 24px 0 64px;
}

.input_email {
  box-sizing: border-box;
  width: 635px;
  height: 60px;
  margin-right: 32px;
  padding: 16px 19px;
  background-color: transparent;
  border: 1px solid var(--border-color);
}

.button-newsletter {
  border: none;
  background-color: var(--heading-color);
  width: 129px;
  height: 44px;
  cursor: pointer;
}

.button-newsletter:hover {
  background-color: var(--main-text-color);
  color: var(--main-color);
}

.footer {
  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 438px 1fr;
  grid-template-rows: 83px 143px 230px;
  column-gap: 126px;
  row-gap: 24px;
  justify-items: center;
  align-items: end;
}

.footer-info {
  text-align: center;
  align-self: flex-start;
}

.footer-info-first {
  margin-bottom: 8px;
}

.social-media-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}

.social-media-items {
  display: flex;
  column-gap: 19px;
}

.social-media-item {
  width: 20px;
  height: 20px;
}

.footer-hours {
  max-width: 158px;
}

.footer-hours:last-of-type {
  margin-top: 8px;
}

.footer-copyrigth {
  grid-column: 2 / 3;
  grid-row: 3 /4;
  padding: 58px 0 144px;
}