.article {
  max-width: 412px;
}

.article__image {
  width: 412px;
  height: 430px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.article__sing {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 32px;
}

.article__header {
  margin-bottom: 32px;
}

.article__header:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

.article__link {
  text-transform: none;
  cursor: pointer;
}

.article__link:hover {
  color: var(--main-text-color);
}
