.reservations {
  margin: 205px 0 184px;
  padding: 48px 32px;
  width: 72%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid rgba(220, 202, 135, 0.2);
}

.reservation-header {
  margin-bottom: 64px;
}

.booking {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 64px;
}

.booking-elements {
  width: 412px;
  height: 60px;
  background-color: var(--button-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  appearance: none;
  padding: 16px;
}
