.scroll-images {
  position: absolute;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scroll-images_to_top {
  right: -158px;
  bottom: -49px;
}

.scroll-images_to_menu {
  right: 120px;
  top: 884px;
  width: 61px;
  height: 113px;
}
