.about-chef {
  margin: 152px 0;
  padding: 128px 310px;
  box-sizing: border-box;
  width: 100%;
  background-image: url(/images/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 96px;
  position: relative;
}
