.logo {
  width: 199px;
  height: 57px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1280px) {
  .logo {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 140px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .logo {
    content: url("../../images/logoSmall.svg");
    width: auto;
    height: 35px;
  }
}

