.see-menu__list-item {
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration-line 1s ease-in;
  z-index: 10;
  color: var(--main-text-color);
}

.see-menu__list-item:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}
