.about-chef {
  margin: 152px 0;
  padding: 128px 310px;
  box-sizing: border-box;
  width: 100%;
  background-image: url(/src/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 96px;
  position: relative;
}

.about-chef__image {
  width: 586px;
  height: auto;
}

.about-chef__container {
  display: flex;
  flex-direction: column;
}

.about-chef__text {
  max-width: 570px;
  margin: 64px 0;
}

.about-chef__text::before {
  content: url(../../images/quotes-logo.svg);
  width: 47px;
  height: 40px;
}

.about-chef__name {
  font-weight: 400;
}

.about-chef__post {
  margin: 8px 0 64px;
}

.about-chef__signature {
  width: 235px;
}
