.see-menu {
  width: 100%;
  height: 920px;
  background-image: url(/images/see-menu.png);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
