.header {
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  padding: 32px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
}

.header__icons {
  width: 57px;
  display: none;
}

.header__menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

@media (max-width: 1280px) {
  .header__icons {
    display: block;
    cursor: pointer;
  }

  .header__icons:last-of-type {
    padding-left: 10px;
  }

  .header__menu {
    display: none;
  }
  
  .header__links {
    display: none;
  }
}
