/* изначальные стили прописаны для размера экрана 1920 */
:root {
  --main-color: #040404;
  --main-text-color: #ffffff;
  --heading-color: #dcca87;
  --text-color: #aaaaaa;
  --button-color: #0c0b08;
  --border-color: #f5efdb;
}

body {
  background-color: var(--main-color);
  position: relative;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* шрифты google */
.main-font {
  font-family: "Cormorant Upright", serif;
}

.additional-font {
  font-family: "Open Sans", sans-serif;
}

/* размеры для текстовых элементов */
.text_size_xs {
  font-size: 16px;
  line-height: 28px;
}

.text_size_s {
  font-size: 18px;
  line-height: 32px;
}

.text_size_m {
  font-size: 23px;
  line-height: 30px;
}

.text_size_sm {
  font-size: 32px;
  line-height: 42px;
}

.text_size_l {
  font-size: 44px;
  line-height: 57px;
}

.text_size_xl {
  font-size: 64px;
  line-height: 83px;
}

.text_size_xxl {
  font-size: 90px;
  line-height: 117px;
}

/* стили для разного текста */
.big-header {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.large-header {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.medium-header {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.small-header {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.description {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--text-color);
  margin-bottom: 32px;
}

.no-bottom {
  margin-bottom: 0;
}

.medium-description {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.small-description {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--border-color);
}

.italic-description {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--text-color);
}

.italic-description::before {
  content: url(/images/quotes.svg);
  width: 47px;
  height: 40px;
}

/* подчеркнутые снизу элементы */
.blogs-item-header,
.see-menu__item:hover,
.nav-item:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

/* логотипы и прочее */
.big-logo {
  width: 289px;
  height: 83px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-back {
  position: absolute;
  width: 391px;
  height: 415px;
  left: 40%;
  bottom: 280px;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.small-logo {
  width: 142px;
  height: 142px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.small-logo_reservation {
  top: -225px;
  right: -125px;
}

.small-logo_see-menu {
  z-index: 10;
  left: 145px;
  top: -32px;
}

.small-logo_about-chef {
  right: 287px;
  bottom: -60px;
}

.small-logo_blogs {
  right: -218px;
  bottom: -39px;
}

.small-logo_newsletter {
  top: -204px;
  left: -172px;
}

.logo {
  width: 199px;
  height: 57px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rigth-column {
  min-width: 455px;
}

.scroll-images {
  position: absolute;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scroll-images_to_menu {
  right: 120px;
  bottom: -64px;
  width: 61px;
  height: 113px;
}

.scroll-images_to_top {
  right: -158px;
  bottom: -49px;
}

.small-img {
  width: 40px;
  margin: 8px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.small-img_rigth {
  transform: rotate(-180deg);
}

.button {
  border: none;
  background-color: var(--heading-color);
  width: 157px;
  height: 44px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--main-text-color);
  color: var(--main-color);
}
