.about__background {
  position: absolute;
  width: 391px;
  height: 415px;
  left: 40%;
  bottom: 280px;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
